
<div class="row mt-2 mb-3">
  <h2>Places</h2>
</div>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>


<div class="row">
  <div class="col-sm-3 mt-3">
    <a href="/places/new" class="btn btn-success">New Place</a>
  </div>
</div>
